#!/bin/bash
set -e

echo "If you are on the bastion host you can just copy all these folders"
echo "to /var/www/html where they are exporte by nginx which is already configured"
echo ""
echo "If you were running this deployment on your laptop you can export them from here"
echo "directly"
read -p "Are you running this from your laptop? (y/n) " -n 1 -r
echo    # (optional) move to a new line
if [[ ! $REPLY =~ ^[Yy]$ ]];
then
  exit 0
fi

# We use a random simple user/password just to avoid drive-by peeks
USER=beard
PASSWORD=$(shuf -n1 /usr/share/dict/words)
IMAGE=docker.io/library/nginx:latest

# Create self-signed certificates
# Create self-signed certificates
rm -rf ./ssl
mkdir ./ssl
pushd ssl
sscg
popd

# Make sure your firewall allows connections to $PORT
PORT=8080
echo "Valid IP addresses:"
ip -o addr show
echo ""
echo "Webserver started at https://0.0.0.0:${PORT}"
echo ""
echo "User: ${USER}"
echo "Pass: ${PASSWORD}"
echo ""
htpasswd -Bbc "./ssl/htpasswd" "${USER}" "${PASSWORD}"
podman run -it --rm -p "${PORT}":443 --name nginx \
	-v "{{ base_dir }}/nginx:/etc/nginx:ro,z" \
	-v "./ssl/:/etc/nginx/ssl:ro,z" \
	-v "./ssl/htpasswd:/etc/nginx/.htpasswd:ro,z" \
	-v "$(pwd)/clusters/:/var/www:ro,z" "${IMAGE}"
