---
# defaults file for fetch-ocp-clients
ocp_version: "4.11.27"
client_folder: "ocp-clients"
client_bin_path: "{{ base_dir }}/{{ client_folder }}"
ocp_base_url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ ocp_version }}"
checksum_file: "sha256sum.txt"
checksum_url: "{{ ocp_base_url }}/{{ checksum_file }}"
{% if ansible_system == 'Darwin' %}
distro: "mac"
base64_cmd: "base64"
{% elif ansible_system == 'Linux' %}
distro: "linux"
base64_cmd: "base64 -w0"
{% endif %}
openshift_installer: "openshift-install-{{ distro }}-{{ ocp_version }}.tar.gz"
openshift_installer_url: "{{ ocp_base_url }}/{{ openshift_installer }}"
ocp_client: "openshift-client-{{ distro }}-{{ ocp_version }}.tar.gz"
ocp_client_url: "{{ ocp_base_url }}/{{ ocp_client }}"
retries: 3
